ul {
	list-style: none;
}

.content {
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: #FCFCFC;
	margin-top: 50px;
	min-height: 800px !important;
}

.title-box {
	background-color: #E9EDFF;
	font-size: 50px;
	color: #1144AA;
	height: 150px;
	text-align: center;
	padding-top: 30px;
	font-weight: bold;
}

.subject {
	margin-top: 50px;
	text-align: center;
}
.subject img {
	width: 500px;
}
.col {
	display: none;
}
.post-comment-func {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1144AA;
	font-weight: bold;
	cursor: pointer;
}

.comments-section {
	background-color: #FFFFFF;
	margin-bottom: 50px;
	overflow: auto;
}

.comment-content {
	border-top: 1px solid black;
	padding-right: 0px !important;
}

.comment-content li{
	padding-right: 0px !important;
}

.comment-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment-user {
	color: #6B8FD4;
	font-weight: bold;
}

.comment-date {
	font-size: 11px;
	color: #A9A9A9;
}

.comment-pic {
	width: 50px;
	border: 4px solid black;
	border-radius: 35px;
}

.submit-comment, .submit-edited-comment {
	margin-top: 5px;
	margin-bottom: 15px;
	color: #1144AA;
	font-weight: bold;
	cursor: pointer;
}

.comment-value, .comment-func {
	padding-left: 50px;
}
.post-reply, .edit-comment, .delete-comment {
	color: #1144AA;
    display: inline;
    cursor: pointer;
    font-size: 12px;
}

.comment-reply {
	margin-top: 15px;
	margin-bottom: 15px;
}

.reply-section {
	border: 1px solid blue;
}

.reply-editor {
	margin-bottom: 5px;
}

.fr-box {
	width: 100%;
}

.func-separators {
	color: #A9A9A9;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
	font-size: 9px;
}

.center {
	text-align: center;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.mlr30 {
	margin-left: 30px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.plr30 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}