<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instaloper Trial</title>

	<link rel="stylesheet" type="text/css" href="css/custom.css">

	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/froala_style.min.css">
	<link rel="stylesheet" href="css/froala_editor.min.css">

	<!-- Froala Plugin CSS -->
	<link rel="stylesheet" href="css/froala/char_counter.css">
	<link rel="stylesheet" href="css/froala/image.css">
	<link rel="stylesheet" href="css/froala/video.css">
</head>
<body ng-app="instacomment">

	<div ng-controller="CommentController" class="content col-md-6 col-md-offset-3">
		<div class="title-box center">
			<div>
				InstaComment
			</div>
		</div>

		<!-- Start - Subject image and functions for posting a comment -->
		<div class="subject pr15 pl15 mb15">
			<img id="cats" src="img/cats.jpg">
			<div class="post-comment-func">
				<div ng-show="postCommentBtn"><span ng-click="postComment()">Post a comment</span></div>
				<div ng-show="postCommentSection"><span ng-click="cancelComment()">Cancel</span></div>
			</div>
		</div>
		<!-- End - Subject image and functions for posting a comment -->

		<!-- Start - Post/Edit comment section (text editor section) -->
		<div ng-show="postCommentSection" class="col-md-10 col-md-offset-1">
			<!-- <div ng-model="comment" id="froala-editor" class="">
			</div> -->
			<textarea ng-model="comment" class="comment-editor form-control" rows="3"></textarea>
			<div ng-show="submitCommentBtn" ng-click="submitComment(comment);" class="submit-comment">Submit</div>
			<div ng-show="submitEditCommentBtn" ng-click="submitEditedComment(comment, indexId, editId); commentsSection = true" class="submit-edited-comment">Submit Edit</div>
		</div>
		<!-- End - Post/Edit comment section (text editor section) -->

		<!-- Start - Display all comments and replies -->
		<div ng-show="commentsSection" class="comments-section col-md-10 col-md-offset-1">
			<div class="comments-section">
				<ul class='comment-content col-md-12' ng-repeat='c in data' ng-if="c.parent == 0">
					<li class="col-md-12">
						<div class='comment-header'> 
							<img class='comment-pic' src='img/blank-profile.png'> <span class='comment-user'>Anonymous</span>  
							<span class='comment-date'>
								{{ c.date }}
							</span>
						</div> 
						<div class='comment-value'>
							{{ c.comment }}
						</div>
						<div class='comment-func mb15' ng-model='id'> 
							<div ng-click='replyBtn(c.id)' class='post-reply'>Reply</div>
							<span class='func-separators'>&#9679;</span>  
							<div ng-click='editBtn($index, c.id)' class='edit-comment'>Edit</div>
							<span class='func-separators'>&#9679;</span> 
							<div ng-click='deleteComment(c)' class='delete-comment'>Delete</div>
							<div id="keepGoing{{c.id}}" class="col">
								<span class='func-separators'>&#9679;</span> 
								<a for="comment{{c.id}}" data-toggle="collapse" href="#comment{{c.id}}" aria-expanded="true" aria-controls="comment{{c.id}}">
									<i class="glyphicon glyphicon-chevron-down"></i>
								</a>
							</div>
						</div>

						<div id="commentEditor{{c.id}}" class="mb15">
						</div>
						<div id="comment{{c.id}}" class="ml15 collapse in">
						</div>

					</li>
				</ul>

			</div>
		</div>
		<!-- End - Display all comments and replies -->


	</div>

	<link rel="stylesheet" href="jquery.atwho.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.4.0/css/jquery.atwho.min.css"> -->
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/ngStorage.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/froala_editor.min.js"></script>
	<script type="text/javascript" src="jquery.atwho.min.js"></script>
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.4.0/js/jquery.atwho.min.js"></script>-->

	<script type="text/javascript" src="js/froala/char_counter.min.js"></script>
	<script type="text/javascript" src="js/froala/image.min.js"></script>
	<!--<script type="text/javascript" src="js/froala/image_manager.min.js"></script>-->
	<script type="text/javascript" src="js/froala/link.min.js"></script>
	<script>
	$( document ).ready(function() {

	    // Initialize editor.
	    $('#froala-editor').froalaEditor();
		$('textarea#froala-editor').froalaEditor();
		// $('.test').collapse();

	});
</script>
</body>
</html>